---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Serverless Days Dublin 2023</title>
    <style is:global>
      body {
        background-color: #000;
        color: #fff;
        font-family: sans-serif;
        margin: 0;
      }
      main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      h1 {
        font-size: 2rem;
        margin: 1rem;
      }
      h2 {
        font-size: 1.5rem;
        margin: 1rem;
      }
      em {
        color: orange;
      }
      main img {
        max-width: 100%;
        width: 590px;
      }
    </style>
  </head>
  <body>
    <main>
      <h1>Serverless Days Dublin 2023</h1>
      <img src="/dublin-event-image.jpg" alt="Serverless Days Dublin 2023" />
      <h2>We are <em>brewing</em> something cool! Stay tuned!</h2>
    </main>
  </body>
</html>
